# langchain
# langchain-astradb
# langchain-huggingface
# langchain-groq
# langchain-community
# datasets
# pypdf
# python-dotenv
# pandas
# flask
# prometheus_client

langchain>=0.2.0
langchain-community>=0.2.0
langchain-core>=0.2.0
langchain-groq
langchain-astradb
langchain-huggingface
datasets
pypdf
python-dotenv
pandas
flask
prometheus_client
